{% extends "base.html" %}
{% block title %}{% if product %}Edit {{ product.name }}{% else %}New product{% endif %}{% endblock %}
{% block content %}
<div class="page-head"><div><h1>{% if product %}Edit product{% else %}New product{% endif %}</h1><p class="sub">The customer price is the vendor price plus {{ COMMISSION_PERCENT }}% commission, rounded up, unless you set your own price.</p></div></div>
<form method="post" enctype="multipart/form-data" novalidate class="card"><div class="card-body">{% csrf_token %}
  <div class="row">
    <div class="col-md-6">{% include "partials/_field.html" with field=form.name %}</div>
    <div class="col-md-3">{% include "partials/_field.html" with field=form.category %}</div>
    <div class="col-md-3">{% include "partials/_field.html" with field=form.sku %}</div>
    <div class="col-12">{% include "partials/_field.html" with field=form.short_description %}</div>
    <div class="col-12">{% include "partials/_field.html" with field=form.description %}</div>
    <div class="col-md-4">{% include "partials/_field.html" with field=form.vendor_price %}</div>
    <div class="col-md-4">{% include "partials/_field.html" with field=form.price_override %}</div>
    <div class="col-md-4">{% include "partials/_field.html" with field=form.hsn_code %}</div>
    <div class="col-md-3">{% include "partials/_field.html" with field=form.technology %}</div>
    <div class="col-md-3">{% include "partials/_field.html" with field=form.material %}</div>
    <div class="col-md-6">{% include "partials/_field.html" with field=form.colours %}</div>
    <div class="col-md-4">{% include "partials/_field.html" with field=form.dimensions %}</div>
    <div class="col-md-4">{% include "partials/_field.html" with field=form.lead_time_days %}</div>
    <div class="col-md-4">{% include "partials/_field.html" with field=form.min_quantity %}</div>
    <div class="col-md-6">{% include "partials/_field.html" with field=form.image_file %}{% if product.has_image %}{% include "partials/_field.html" with field=form.remove_image %}{% endif %}</div>
    <div class="col-md-6">{% include "partials/_field.html" with field=form.is_active %}</div>
  </div>
  <button class="btn btn-primary">Save product</button>
  <a href="{% if product %}{{ product.get_absolute_url }}{% else %}{% url 'catalog:list' %}{% endif %}" class="btn btn-link">Cancel</a>
</div></form>
{% endblock %}
